<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To Do List</title>
    <script src="../../controller/createView.js"></script>
</head>

<body>
    <div class="container">
        <div class="header">
            <div class="row">
                <div class="col col-mb-6 name-header">
                    <h1>todos</h1>
                </div>
            </div>
        </div>
        <div class="section">
            <div class="row">
                <div class="col col-md-6 input-toggle">
                    <div onclick="clickDacBiet()" class="label">
                        <input type="hidden" onclick="clickDacBiet()">
                    </div>
                    <div class="input-content">
                        <form action="">
                            <input type="text" id="toggle-input" placeholder="What need to be done ?">
                        </form>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col col-md-6 list-toggle">
                    <ul class="content content-all" id = "content-list">
                        
                    </ul>
                    <ul class="content content-active" id="active-list">

                    </ul>
                    <ul class="content content-completed" id="completed-list">
                        
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col col-md-6 text-align list-choose">
                    <div class="row">
                        <div class="col col-md-3">
                            <span id="countElementRest"></span>
                        </div>
                        <div class="col col-md-6">
                            <div class="row">
                                <div class="row" id = "list-content">
                                    <div class="col col-md-2 choose">
                                        <a href="#all" class="content-click" id="content-all">All</a>
                                    </div>
                                    <div class="col col-md-3 choose">
                                        <a href="#active" class="content-click" id="content-active">Active</a>
                                    </div>
                                    <div class="col col-md-2 choose">
                                        <a href="#completed" class="content-click" id="content-completed">Completed</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col col-md-3">
                            <input id="clearLocalStorage" onclick= "ClearLocalStorage()" type="button" value="Clear Complete">
                            <!-- <a href="#">Clear Complete</a> -->
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>
    <!-- <div class="custom-control custom-checkbox mb-3">
      <input type="checkbox" class="custom-control-input checkbox8" id="customCheck" name="example1">
      <label class="custom-control-label" for="customCheck">Custom checkbox</label>
    </div> -->
</body>

<!-- Javascript -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="../js/index.js"></script>
<script src="../../controller/create-view.js"></script>
<!-- JQUERY -->



<script>
    $(document).ready(function(e){
        $('.content-all').show();
        $('.content-click').click(function(e){
            var id = $(this).attr("id");
            $('.content').hide();
            $('.'+id).show();
            $(this).css('border:1px solid black');
        })
    })
</script>





<!-- Bootstrap -->
<link rel="stylesheet" href="../bootstrap-4.4.1/dist/js/bootstrap.min.js">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" />
<link rel="stylesheet" type="text/css"
    href="https://netdna.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" />
<link rel="stylesheet" type="text/css" href="https://flatlogic.github.io/awesome-bootstrap-checkbox/demo/build.css" />
<!-- CSS -->
<link rel="stylesheet" href="../css/index.css">

</html>